@import "tailwindcss";

:root {
  --dark-green: #13312C;
  --green: #105E54;
  --light-green: #A9BFA9;
  --beige: #FFF0C5;
  --light-beige: #FAF6EC;
  --light-beige-2: #F0E9D8;
  --dark-grey: #333333;
}

@theme inline {
  --color-dark-green: var(--dark-green);
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-beige: var(--beige);
  --color-light-beige: var(--light-beige);
  --color-light-beige-2: var(--light-beige-2);
  --color-dark-grey: var(--dark-grey);
}